/* Div "photograph-header" et sous-élément "contact_button"*/
.photograph-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAFAFA;
    height: auto;
    margin: 0 3rem;
    padding: 2rem 2rem;
}

.contact_button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 0.7rem;
    width: 10.5rem;
    height: 4rem;
    border: none;
    background-color: #901C1C;
    border-radius: 0.3rem;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #db8876;
    color: #000;
}

/* Div "sorting" et sous-éléments "select", "option" */
.sorting {
    margin: 2rem 3.5rem;
}

select {
    background-color: #901C1C;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1rem 1rem;
    margin-left: 1.5rem;
    border-radius: 0.3rem;
}

option :hover {
    background-color: #DB8876; /*inactif*/
    color: #000;
}

/* Div "mediaList" et sous-div/sous-éléments "photographerWork", "media", "video", "caption", "title", "likes", "coeur"*/
.mediaList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.photographerWork {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

.media {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 0.3rem;
}

video {
    width: 25rem;
    height: 25rem;
}

.caption {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    width: 25rem;
    font-size: 1.2rem;    
}

.title {
    margin-right: 4rem;
}
.likes {
    margin-left: auto;
}
.coeur {
    padding-left: 0.3rem;
    cursor: pointer;
}
.coeur:hover, .coeur:focus {
    color:#DB8876
}


/* Div "photographerLikes" */
.photographerLikes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: -0.9rem;
    right: 2rem;
    background: #db8876;
    border-radius: .4166666667em;
    font-size: 1.2em;
    font-weight: bold;
    width: 15.6rem;
    height: 4.3rem;
    z-index: 1;
}

/* Div "contact_modal" et sous-div/sous-éléments "modal", header, h2, span, p, "photographer_name" */
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 1rem;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin: 3% auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal h2 {
    font-size: 3rem;
    font-weight: normal;
    /*text-align: center;*/
}

.modal span {
    cursor: pointer;
    font-size: 3rem;
    font-weight: lighter;
    display: flex;
    justify-content: left;
    color:white;
}

.modal p {
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
}

.photographer_name div {
    font-size: 3rem;
}

/* Formulaire de la modale et sous-div/sous-éléments "label", "input", "textarea", "form_send */
.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    /*margin: 0 1rem;
    padding: 1rem 2rem;*/
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.6rem;
}

form label {
    color: #312E2E;
    font-size: 1rem;
    font-weight: bold;
}

form input, textarea {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
}
form input {
    height: 4rem;
}
textarea {
    font-size: 8rem;
}

.form_send {
    display: flex;
    justify-content: left;
}

/* Media queries : adaptabilité du design sur petit écran */
@media screen and (min-width: 360px) and (max-width: 800px) {
    .marketingHook, .photographerPortrait {
        padding-bottom: 2vh;
        justify-content:space-between;
    }
    button {
        margin-bottom: 4vh;
        margin-top: 3vh;
    }
    .photograph-header {
        display: flex;
        flex-direction: column;
    }
    .modal {
        width: 80%;
    }
}

/* Div "lightbox" et sous-div/sous-éléments : "lightbox__close", "lightbox__prev", "lightbox__next", "lightbox__container", "hiddenImage", "hiddenVideo", "lightbox__caption" */

.lightbox {
    display: none;
    margin: auto auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.lightbox__close {
    cursor: pointer;
    padding: 0.2rem 0.2rem;
    top: 20rem;
    right: 10rem;
    z-index: 1;
    color: #901C1C;
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    font-size: 2.2rem;
}

.lightbox__next, .lightbox__prev {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    color: #901C1C;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 0.2rem 0.2rem 0;
}

.lightbox__next {
    right: 0;
    border-radius: 0.2rem 0 0 0.2rem;
    margin-right: 7vw;
}

.lightbox__prev {
    margin-left: 7vw;
}

.lightbox__close:hover,
.lightbox__close:focus,
.lightbox__prev:hover,
.lightbox__prev:focus,
.lightbox__next:hover,
.lightbox__next:focus {
    color: #D3573C;
    text-decoration: none;
    cursor: pointer;
}

.lightbox__container {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    justify-content: center; 
    margin: auto;
}

.hiddenImage, .hiddenVideo {
    display: none;
    margin: auto auto;
    height: 90vh;
    width: auto;
    padding: 1rem 1rem;
    object-fit: cover;
}

.lightbox__caption {
    color: #901C1C;
    font-size: 1.3rem;
    height: auto;
    width: auto;
    padding: 0 1rem;
}

  