* {
    font-family: DM sans, sans-serif;
}

.logo {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 100px;
    top: 42px;

    font-size: 50px;
    font-weight: 800;
    color: #911C1C;
}

i {
    font-size: 40px;
    font-weight: 800;
    color: #911C1C;
    margin: 0 3px 0 3px;
}

.en-tete {
    display: flex;
    flex-direction: row;
}

.rectangle246 {
    position: absolute;
    width: 553px;
    height: 49px;
    left: 388px;
    top: 43px;
}

.rectangle246 ul li {
    display: inline-flex;
    list-style-type: none;
    border: 1px grey solid;
    border-radius: 10px 10px;
    padding: 2.5px 2.5px;
    margin: 0 10px 10px 10px;
    font-size: 0.75rem;
    color: 
}

.text {
    position: absolute;
    width: 306px;
    height: 47px;
    left: 1017px;
    top: 44px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;

    /* identical to box height */

    color: #911C1C;
}